<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="ServiceUrl" value="https://featureflags-data-eu-service-staging.azurewebsites.net/" />
    <Parameter name="WebsiteUrl" value="https://featureflags-data-eu-web-staging.azurewebsites.net/" />
    <Parameter name="KeyVaultURL" value="https://samsapp-data-eu-keyvault.vault.azure.net/" />
    <Parameter name="KeyVaultClientId" value="2553a023-5f98-4331-a3ad-ed45f1d74ec9" />
    <Parameter name="KeyVaultClientSecret" value="cr+Z1yjLGtYAe+G/3arFyTrE6TlW/MmaHA3nYRUro+E=" />
    <Parameter name="TestEnvironment" value="" />
  </TestRunParameters>

</RunSettings>