<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="ServiceUrl" value="https://featureflags-prod-eu-service.azurewebsites.net/" />
    <Parameter name="WebsiteUrl" value="https://featureflags-prod-eu-web.azurewebsites.net/" />
    <Parameter name="TestEnvironment" value="" />
  </TestRunParameters>

</RunSettings>